# Backend
MONGO_URI=mongodb://localhost:27017/afyalink
JWT_SECRET=replace_me
PORT=5000
FRONTEND_URL=http://https://afya-link-hrms-frontend-4.vercel.app

# Frontend
REACT_APP_API_URL=http://https://afya-link-hrms-frontend-4.vercel.app
