global
  log /dev/log local0
  log /dev/log local1 notice
  daemon
  maxconn 100000

defaults
  mode http
  log global
  option httplog
  option dontlognull
  timeout connect 5s
  timeout client 60s
  timeout server 60s
  retries 3

frontend afya_api_in
  bind *:9000
  option forwardfor
  http-request set-header X-Forwarded-Proto https if { ssl_fc }
  default_backend afya_api_pool

backend afya_api_pool
  balance roundrobin
  option httpchk GET /readyz
  http-check expect status 200
  server api1 127.0.0.1:5001 check inter 3s fall 3 rise 2
  server api2 127.0.0.1:5002 check inter 3s fall 3 rise 2

