global
  log stdout format raw local0
  maxconn 10000
  daemon

defaults
  mode http
  log global
  option httplog
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend afyalink_https
  bind *:443 ssl crt /etc/ssl/private/afyalink.pem
  option forwardfor
  http-request set-header X-Forwarded-Proto https
  default_backend afyalink_regions

backend afyalink_regions
  balance roundrobin
  option httpchk GET /readyz
  http-check expect status 200

  # Region A
  server ke_region_a_1 10.10.1.11:5000 check
  server ke_region_a_2 10.10.1.12:5000 check

  # Region B (backup / failover)
  server ke_region_b_1 10.20.1.11:5000 check backup
  server ke_region_b_2 10.20.1.12:5000 check backup
